In [3]:
#R is a glorified Calculator
3+5

[1] 8

In [4]:
#subtraction
120-45

[1] 75

In [5]:
#multiplication
12*5

[1] 60

In [6]:
#division
4/9

[1] 0.4444444

In [7]:
#exponents 
5^8
5**8

[1] 390625

[1] 390625

In [8]:
#modulo (shows remainder from division)
5%%2

[1] 1

In [9]:
#order of operations
(100*2) + (50/2)

[1] 225

In [10]:
#variable names <- expression 
variable.name <- 50
variable.name

[1] 50

In [11]:
#variables using arithmatic
bank.account <- 100

In [12]:
deposit<- 10

In [13]:
bank.account <- bank.account + deposit
bank.account

[1] 110

In [27]:
#numeric -floating point value
n <- 2.2
#numeric - integer
i <- 5

In [28]:
#Logicals or Booleans (TRUE and FALSE)
t <- TRUE
f <- FALSE
t

[1] TRUE

In [29]:
#characters or strings
char <- "Hello World"
char

[1] "Hello World"

In [30]:
c <- 'Single quotes work too'
c

[1] "Single quotes work too"

In [33]:
class(n)
class(i)
class(t)
class(f)
class(char)
class(c)

[1] "numeric"

[1] "numeric"

[1] "logical"

[1] "logical"

[1] "character"

[1] "character"

In [38]:
'hello'

[1] "hello"

In [40]:
nchar('Hello World') #includes space in count

[1] 11

In [41]:
print("this is printed txt using print()")

[1] "this is printed txt using print()"

In [42]:
"This is printed txt using print()"

[1] "This is printed txt using print()"

In [43]:
#print but format as it is being printed
s = "Printed Text"
sprintf('This string will include %s', s)

[1] "This string will include Printed Text"

In [44]:
sprintf("This string will include %s", 'additional text')

[1] "This string will include additional text"

In [47]:
string1<- "additional text"
string2 <- "at the end"
string3 <- "of the sentance"
sprintf("This string will include %s %s %s", string1, string2, string3)

[1] "This string will include additional text at the end of the sentance"

In [49]:
toupper("Hello world")
tolower('Hello world')

strsplit("hello world", " ")

[1] "HELLO WORLD"

[1] "hello world"

[[1]]
[1] "hello" "world"

In [50]:
#vectors
nvec <- c(1,2,3,4,5,6)
nvec

[1] 1 2 3 4 5 6

In [51]:
class(nvec)

[1] "numeric"

In [52]:
cvec <- c("N","C","S","U")
class(cvec)

[1] "character"

In [53]:
lvec <- c(TRUE,FALSE)
class(lvec)

[1] "logical"

In [54]:
v <- c(FALSE, 2) #wrong
v

[1] 0 2

In [55]:
v <- c('A',1)
v

[1] "A" "1"

In [57]:
ilist <- list('A',1,TRUE)
ilist
class(ilist)

[[1]]
[1] "A"

[[2]]
[1] 1

[[3]]
[1] TRUE

[1] "list"

In [ ]:
#Naming stuff

In [58]:
temps1 <- c(73,78,76,83,69,83,89)
temps1

[1] 73 78 76 83 69 83 89

In [60]:
names(temps1) <- c('Monday', 'Tuesday','Wednesday',"Thursday","Friday","Saturday","Sunday")

In [61]:
temps1

   Monday   Tuesday Wednesday  Thursday    Friday   Saturda    Sunday
       73        78        76        83        69        83        89

In [63]:
days <- c('Monday', 'Tuesday','Wednesday',"Thursday","Friday","Saturday","Sunday")
temps2 <- c(81,79,91,78,79,67,66)
names(temps2) <- days
temps2

   Monday   Tuesday Wednesday  Thursday    Friday  Saturday    Sunday
       81        79        91        78        79        67        66

In [65]:
#vector operations
v1 <- c(1,2,3)
v2 <- c(5,6,7)
v1 + v2
v2 - v1
v1*v2
v1/v2

[1]  6  8 10

[1] 4 4 4

[1]  5 12 21

[1] 0.2000000 0.3333333 0.4285714

In [66]:
sum(v1)

[1] 6

In [67]:
V <- c(12,45,100,2)
sd(V)

[1] 44.16918

In [68]:
var(V)

[1] 1950.917

max(V)
min(V)

In [70]:
prod(v1)
prod(v2)

[1] 6

[1] 210

In [71]:
#Comparison operators
5 >6

[1] FALSE

In [72]:
v1 < v2

[1] TRUE TRUE TRUE

In [73]:
6 >= 6

[1] TRUE

In [74]:
var = 1

In [75]:
5==6

[1] FALSE

In [76]:
5 != 6

[1] TRUE

In [77]:
v1 < 2

[1]  TRUE FALSE FALSE

In [78]:
v1 <- c(100,200,300)
v2 <- c('a','b','c')
v1
v2

[1] 100 200 300

[1] "a" "b" "c"

In [79]:
v1[1]

[1] 100

In [80]:
v2[2]

[1] "b"

In [81]:
v1[c(1,3)]

[1] 100 300

In [82]:
v<- c(1,2,3,4,5,6,7,8,9,10)

In [83]:
v[3:6]

[1] 3 4 5 6

In [84]:
v <- c(1,2,3,4)
names(v) <- c('a','b','c','d')
v

a b c d
1 2 3 4

In [85]:
v['b']

b
2

In [86]:
v[c('a','c','b')]

a c b
1 3 2

In [87]:
v>2

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [88]:
v[v>2]

c d
3 4

In [89]:
filter <- v>2
filter

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [90]:
v[filter]

c d
3 4

In [24]:
2^5

[1] 32

In [25]:
peanut.weight <- c(89.4,78.2,91.4,95.2,105.5)

In [17]:
names(peanut.weight) <- c("Sullivan","Bailey","Bailey II", "Emery", "Wynne")
peanut.weight

 Sullivan    Bailey Bailey II     Emery     Wynne
     89.4      78.2      91.4      95.2     105.5

In [35]:
mean(peanut.weight)

[1] 91.94

In [45]:
over.90 <- peanut.weight[peanut.weight > 90]
over.90

[1]  91.4  95.2 105.5

In [46]:
small <- min(over.90)
small

[1] 91.4

In [48]:
cultivar = "Bailey"
weight = "91.4 grams per 100 seeds"

sprintf("The cultivar %s has a seed weight of %s", cultivar, weight)

[1] "The cultivar Bailey has a seed weight of 91.4 grams per 100 seeds"